# This example file contains the default values for the cloud environment variables

# Postgres database configuration
POSTGRES_HOST=localhost:5432
POSTGRES_USER=fog
POSTGRES_PASSWORD=fog
POSTGRES_DB=fog